# Flutter
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/.generated/
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.lock

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# FastAPI/Python
backend/__pycache__/
backend/.env
backend/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/

# Mac
.DS_Store